# Likes Data Report
## Anthony Furiga
### 9/13/2024

The Instagram data I am using is my own personal data.  This data was fetched to view my habits on Instagram to see what I view and like, and I what I don't like.  This data may be reliable for me because it will contain personal information to me, which you could say is the target audience for this assignment.  In turn, this is not reliable to make decisions for a specifc group of people because the sample size of this data is 1; me.

In [4]:
import json
import pandas as pd

In [5]:
path = "/Users/anthonyfuriga/Data Fall 2024/instagram-afuriga-2024-08-26-1lqk8Yb3/your_instagram_activity/likes/liked_posts.json"
with open(path) as j:
    mess = json.load(j)

In [6]:
mess.keys()

dict_keys(['likes_media_likes'])

In [7]:
mess_df = pd.DataFrame(mess['likes_media_likes'])
mess_df.head()

,title,string_list_data
0,pixelatedhailey,[{'href': 'https://www.instagram.com/p/C_JiEl5...
1,blacksquirrelentertainment,[{'href': 'https://www.instagram.com/p/C_JIB18...
2,avaadams1866,[{'href': 'https://www.instagram.com/p/C_HjxaA...
3,hailey.reinke,[{'href': 'https://www.instagram.com/p/C_GSCdl...
4,meganchawansky,[{'href': 'https://www.instagram.com/p/C_EGEgF...

In [8]:
mess_df['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/C_JiEl5pUdk/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1724711769}]

In [9]:
len(mess_df['string_list_data'].iloc[0])

1

In [10]:
mess_df['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/C_JiEl5pUdk/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1724711769}]

In [11]:
mess_df['Timestamp'] = [x[0]['timestamp'] for x in mess_df['string_list_data']]

In [12]:
mess_df.head()

,title,string_list_data,Timestamp
0,pixelatedhailey,[{'href': 'https://www.instagram.com/p/C_JiEl5...,1724711769
1,blacksquirrelentertainment,[{'href': 'https://www.instagram.com/p/C_JIB18...,1724697967
2,avaadams1866,[{'href': 'https://www.instagram.com/p/C_HjxaA...,1724668672
3,hailey.reinke,[{'href': 'https://www.instagram.com/p/C_GSCdl...,1724612100
4,meganchawansky,[{'href': 'https://www.instagram.com/p/C_EGEgF...,1724538076

In [13]:
df2 = pd.DataFrame(x[0] for x in mess_df['string_list_data'])

In [14]:
df2

                                           href value   timestamp
0      https://www.instagram.com/p/C_JiEl5pUdk/  รฐยยย  1724711769
1      https://www.instagram.com/p/C_JIB18J_Mw/  รฐยยย  1724697967
2      https://www.instagram.com/p/C_HjxaAs0wT/  รฐยยย  1724668672
3      https://www.instagram.com/p/C_GSCdlpIiN/  รฐยยย  1724612100
4      https://www.instagram.com/p/C_EGEgFSVdX/  รฐยยย  1724538076
...                                         ...   ...         ...
27621  https://www.instagram.com/p/BBiIzseBy1G/  รฐยยย  1455069068
27622  https://www.instagram.com/p/BBTVy9JFyzr/  รฐยยย  1454463476
27623  https://www.instagram.com/p/BAx9d-mly36/  รฐยยย  1453339524
27624  https://www.instagram.com/p/BAXwOtWly68/  รฐยยย  1452465623
27625   https://www.instagram.com/p/-rM8xIhQVV/  รฐยยย  1452039934

[27626 rows x 3 columns]

In [15]:
df2['title'] = mess_df['title']

In [16]:
df2

,href,value,timestamp,title
0,https://www.instagram.com/p/C_JiEl5pUdk/,รฐยยย,1724711769,pixelatedhailey
1,https://www.instagram.com/p/C_JIB18J_Mw/,รฐยยย,1724697967,blacksquirrelentertainment
2,https://www.instagram.com/p/C_HjxaAs0wT/,รฐยยย,1724668672,avaadams1866
3,https://www.instagram.com/p/C_GSCdlpIiN/,รฐยยย,1724612100,hailey.reinke
4,https://www.instagram.com/p/C_EGEgFSVdX/,รฐยยย,1724538076,meganchawansky
...,...,...,...,...
27621,https://www.instagram.com/p/BBiIzseBy1G/,รฐยยย,1455069068,highlightsnetwork
27622,https://www.instagram.com/p/BBTVy9JFyzr/,รฐยยย,1454463476,_carterhudson
27623,https://www.instagram.com/p/BAx9d-mly36/,รฐยยย,1453339524,_carterhudson
27624,https://www.instagram.com/p/BAXwOtWly68/,รฐยยย,1452465623,_carterhudson
27625,https://www.instagram.com/p/-rM8xIhQVV/,รฐยยย,1452039934,instagram

In [17]:
df2.groupby('title').count().sort_values('timestamp', ascending = False).head(10)

                          href  value  timestamp
title
cats_of_instagram        10266  10266      10266
instagram                 3229   3229       3229
dogsofinstagram           2556   2556       2556
randomshowerthoughts      1950   1950       1950
mobilemag                 1641   1641       1641
igshotz                   1351   1351       1351
folkvibe                   556    556        556
thecoolmagazine            545    545        545
crypto_connection_world    433    433        433
americafolk                357    357        357

## Hypothesis

Based on my top 10 liked accounts, I must really enjoy looking at cat content.  I will test this hypothesis by viewing my saved_posts.json file to see what posts I have saved and compare the content of them to my top 10 list.  This will be based on the content of the saved posts, as well as how many times I've saved a post from that account.

In [18]:
second_path = '/users/anthonyfuriga/Data Fall 2024/instagram-afuriga-2024-08-26-1lqk8Yb3/your_instagram_activity/saved/saved_posts.json'
with open(second_path) as k:
    saved = json.load(k)

In [19]:
saved.keys()

dict_keys(['saved_saved_media'])

In [41]:
saved_df = pd.DataFrame(saved['saved_saved_media'])
saved_df.head(10)

             title                                    string_map_data
0        udibarkan  {'Saved on': {'href': 'https://www.instagram.c...
1    dainty.bagels  {'Saved on': {'href': 'https://www.instagram.c...
2      cattoosgram  {'Saved on': {'href': 'https://www.instagram.c...
3      thegoodbite  {'Saved on': {'href': 'https://www.instagram.c...
4        zack.chug  {'Saved on': {'href': 'https://www.instagram.c...
5  betterringfring  {'Saved on': {'href': 'https://www.instagram.c...
6     chessnations  {'Saved on': {'href': 'https://www.instagram.c...
7     thecavaliers  {'Saved on': {'href': 'https://www.instagram.c...
8       musicmemeo  {'Saved on': {'href': 'https://www.instagram.c...
9           selbxn  {'Saved on': {'href': 'https://www.instagram.c...

In [36]:
saved_df['string_map_data'].iloc[0]

{'Saved on': {'href': 'https://www.instagram.com/reel/C4dhEBMIVgy/',
  'timestamp': 1712870688}}

In [38]:
saved_df['Timestamp'] = [x[0]['timestamp']for x in saved_df['string_map_data']]

KeyError: 0

In [39]:
saved_df.head()

,title,string_map_data,Timestamp
0,udibarkan,{'Saved on': {'href': 'https://www.instagram.c...,{'Saved on': {'href': 'https://www.instagram.c...
1,dainty.bagels,{'Saved on': {'href': 'https://www.instagram.c...,{'Saved on': {'href': 'https://www.instagram.c...
2,cattoosgram,{'Saved on': {'href': 'https://www.instagram.c...,{'Saved on': {'href': 'https://www.instagram.c...
3,thegoodbite,{'Saved on': {'href': 'https://www.instagram.c...,{'Saved on': {'href': 'https://www.instagram.c...
4,zack.chug,{'Saved on': {'href': 'https://www.instagram.c...,{'Saved on': {'href': 'https://www.instagram.c...

At this point, I am getting a KeyError, which I do not fully understand, and am not sure why I am getting this error as this line of code is identical to what I had earlier with mess_df.  I tried changing the value of zero and geting rid of the [0] entirely but nothing was working.

In [42]:
saved_df.groupby('title').count().sort_values('timestamp', ascending = False).head(10)

KeyError: 'timestamp'

The following line of code above would be what I would use to sort my saved posts on Instagram and show the top 10 accounts with it as well.

## Conclusion

Based on the untidy data that I was able to gather, which I went back and made it so that I can see my 10 (which I only have ever saved 9 posts), I can say my hypothesis was incorrect.  I did have one saved post from a cat account, however the other 8 are from non-related cat accounts.  I do think however, my data for comparing my likes was probably not the most sufficent data, since again, I've only ever saved 9 posts, which is a small number compared to how many likes I've ever given on Instagram.