# Data In Hand
### Anthony Furiga
##### November 22nd, 2024

In [7]:
import json
import pandas as pd

In [5]:
weather1950 = pd.read_csv('weather_1950.csv')
weather1960 = pd.read_csv('weather_1960.csv')
weather1970 = pd.read_csv('weather_1970.csv')
weather1980 = pd.read_csv('weather_1980.csv')
weather1990 = pd.read_csv('weather_1990.csv')
weather2000 = pd.read_csv('weather_2000.csv')
weather2010 = pd.read_csv('weather_2010.csv')

Loading in my CSV files with pandas.

In [6]:
weather1950.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TOBS
0,USC00331653,"CLEVELAND SHAKER HEI, OH US",41.46667,-81.56667,299.0,1950-01-01,NaN,NaN,0.05,0.0,0.0,NaN,48.0,40.0,48.0
1,USC00331653,"CLEVELAND SHAKER HEI, OH US",41.46667,-81.56667,299.0,1950-01-02,NaN,NaN,0.02,0.0,0.0,NaN,52.0,44.0,51.0
2,USC00331653,"CLEVELAND SHAKER HEI, OH US",41.46667,-81.56667,299.0,1950-01-03,NaN,NaN,0.82,0.0,0.0,NaN,60.0,49.0,60.0
3,USC00331653,"CLEVELAND SHAKER HEI, OH US",41.46667,-81.56667,299.0,1950-01-04,NaN,NaN,0.93,0.0,0.0,NaN,60.0,34.0,37.0
4,USC00331653,"CLEVELAND SHAKER HEI, OH US",41.46667,-81.56667,299.0,1950-01-05,NaN,NaN,0.10,0.4,0.0,NaN,38.0,25.0,29.0

I have shown the data frame of one of my CSV files.  Each CSV file has weather information for ten years starting from January 1st, 1950.  However, the weather_2010 CSV file has weather info from January 2nd, 2010 (accounting for off-by-one) to November 20th, 2024, as that was the most recent I could get info from the website and I didn't want another CSV file to load in and eventually have to merge into one single data frame.  

I got my data from the National Centers For Environmental Information, which has free data for download on weather information for any location in the US.  However, I could only download up to "1,000 station years" worth of data, which is why I had to request multiple CSV files.  I still do not know what the difference between a station year and a normal year is.

Looking at the data frame, here is what the column names represent:
* Station: This is a code of the station that the data was pulled from.
* Name: Name of the city the station is located in.
* Latitude: Latitude coordinate of the station.
* Longitude: Longitude coordinate of the station.
* Elevation: Elevation of station above sea level in meters.
* Date: Date of observation.
* DAPR: Number of days included in the multiday precipitation total.  Shows NaN since we have information for every single day.
* MDPRL: Multiday Precipitation Total: Shows NaN since we have information for every single day.
* PRCP: Precipitation, measured in inches.
* SNOW: Snowfall, measured in inches.
* SNWD: Snowdepth (Snow on ground), measured in inches.
* TAVG: Average of hourly vaules for temperatures. Shows NaN as we don't have information on hourly temperatures.
* TMAX: Temperature max, measured in Fahrenheit.
* TMIN: Temperature minimum, measured in Fahrenheit.
* TOBS: Temperature when station recorded data, measured in Fahrenheit.